body{
    background-color: lightcyan;
    font-family: 'Share Tech', sans-serif;
}
#logout{
    font-family: 'Share Tech', sans-serif;
}
#output
{
	padding: 10px; 
    width:80%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
    font-family: 'Share Tech', sans-serif;
}